/*
    _____      _                
   / ____|    | |               
  | |     ___ | | ___  _ __ ___ 
  | |    / _ \| |/ _ \| '__/ __|
  | |___| (_) | | (_) | |  \__ \
   \_____\___/|_|\___/|_|  |___/
                                
*/ 

$highlight-1: #14A38B;
$main-font-color: #000;
$header-color: #fff;
$secondary-font-color: #2C2738;
$faded-gray: #FBFBFB;
$faded-gray-2: #D8D8D8;
$bg-color: #E5E5E5;
$bg-color-2: #F8F8F8;
$drop-shadow: rgba(0, 0, 0, 0.1);
$border-color: #DBE2EA;