@import './../../../../../assets/style-helpers/colors';

:host {
    .deal-card {
        background: $faded-gray;
        box-shadow: 0px 12px 24px rgba(44, 39, 56, 0.02), 0px 24px 48px rgba(44, 39, 56, 0.04);
        border-radius: 24px;
        padding: 30px 20px;
        width: 352px;

        .title {
            font-family: IBM Plex Sans;
            font-style: normal;
            font-weight: bold;
            font-size: 28px;
            line-height: 36px;
            color: $secondary-font-color;
            margin-bottom: 9px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        .desc {
            font-family: IBM Plex Sans;
            font-style: normal;
            font-weight: 600;
            font-size: 16px;
            line-height: 21px;
            color: $secondary-font-color;
            height: 44px;
            margin-bottom: 8px;

            .sale {
                color: $highlight-1;
                margin-left: 10px;
            }
        }

        .action {
            a {
                width: 140px;
                height: 48px;
                display: flex;
                align-items: center;
                background: $faded-gray;
                border: 1px solid $secondary-font-color;
                box-sizing: border-box;
                box-shadow: 0px 2px 4px rgba(44, 39, 56, 0.0001), 0px 4px 8px rgba(44, 39, 56, 0.08);
                border-radius: 6px;
                text-decoration: none;
                justify-content: center;
                color: $secondary-font-color;
                cursor: pointer;
            }
        }
    }
}