<div class="main-wrapper">
    <div class="main-content">
        <div class="title">
            <div class="text">{{ pageData.title }}</div>
            <div class="search desktop">
                <form class="search-form">
                    <input type="text" [placeholder]="pageData.searchPlaceholder" #desktopSearch (keyup)="filterResults(desktopSearch.value)">
                    <mat-icon>search</mat-icon>
                </form>
            </div>
        </div>
        <div class="search">
            <form class="search-form">
                <input type="text" [placeholder]="pageData.searchPlaceholder" #mobileSearch (keyup)="filterResults(mobileSearch.value)">
                <mat-icon>search</mat-icon>
            </form>
        </div>
        <div class="content">
            <ng-content></ng-content>
            <ng-container *ngIf="!data && !isLoading">
                <div class="no-data">
                    <p>Whoops! Looks like something went wrong. Please try again.</p>
                    <button mat-raised-button color="primary" (click)="reloadPage()">Try again</button>
                </div>
            </ng-container>
    
            <ng-container *ngIf="!data && isLoading || data && !isLoading && isSearching">
                <mat-spinner></mat-spinner>
            </ng-container>
        </div>
    </div>
</div>
